@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  a {
    @apply underline decoration-transparent transition-colors duration-300 hover:text-teal-300 hover:decoration-current !important;
  }

  a:hover {
    @apply text-teal-300 transition-all duration-300;
    text-decoration-color: currentColor;
  }

  nav a {
    padding-left: 20px;
  }

  nav li {
    position: relative;
  }

  nav span {
    position: absolute;
    left: 6px;
    z-index: -10;
  }

  #site-name a {
    text-decoration: none !important;
  }
}