---
import Base from "../layouts/base.astro";
const pageTitle = "About Me";
---

<Base title={pageTitle}>
  <h2>{pageTitle}</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis et corrupti nesciunt dolores, quae nulla quas iure
    veritatis, accusamus nam inventore ea neque nihil, repudiandae consequuntur eius voluptates. Error voluptates
    laborum deleniti modi dicta sapiente, necessitatibus architecto voluptatem veritatis soluta corrupti accusantium
    reiciendis quis vero tenetur dolore itaque in nesciunt a autem nulla dolor non, explicabo deserunt. Non odio nulla
    nesciunt eum ab natus hic. Nesciunt totam molestias, explicabo enim, tempore incidunt ea voluptas animi porro
    voluptates alias rerum corrupti perferendis similique ipsum doloribus perspiciatis cupiditate quasi, atque qui
    numquam ex. Non ab nisi blanditiis quam odit quae, velit repellat?
  </p>
</Base>
