---
import Base from "../layouts/base.astro";
import { getCollection } from "astro:content";
const pageTitle = "Blog";
const allBlogPosts = await getCollection("posts");
---

<Base title={pageTitle}>
  <h2>{pageTitle}</h2>
  <!-- List all blogs -->
  <ul>
    {
      allBlogPosts.map((post) => (
        <li>
          <a href={`/posts/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Base>
