---
import Base from "../layouts/base.astro";
import { Image } from "astro:assets";
import avatar from "../../public/images/avatar.png";
const pageTitle = "Home";
---

<Base title={pageTitle}>
  <!-- TODO: Tags list -->
  <!-- TODO: 10 recent posts -->
  <div class="flex flex-col md:flex-row justify-center space-y-10 md:space-x-20 items-center h-[60vh] grow">
    <div class="container w-52 h-auto rounded-full object-contain overflow-hidden">
      <Image src={avatar} alt="Tom Cruise? Is that you? Wait no..." class="scale-110" />
    </div>
    <div>
      <h1 class="text-4xl font-semibold mb-4">Hi! I'm Shounak</h1>
      <ul class="text-2xl font-display">
        <li>👉 Ethical Hacker</li>
        <li>👉 Web Developer</li>
      </ul>
    </div>
  </div>
</Base>
