---
import Base from "../layouts/base.astro";
import { Image } from "astro:assets";
import avatar from "../../public/images/avatar.jpg";
const pageTitle = "Home";
---

<Base title={pageTitle}>
  <!-- TODO: Tags list -->
  <!-- TODO: 10 recent posts -->
  <!-- TODO: Wrap the image in a container and clip it -->
  <div class="container w-40 h-auto rounded-full object-contain overflow-hidden">
    <Image src={avatar} alt="Tom Cruise? Is that you? Wait no..." class="scale-110" />
  </div>
</Base>
