---
const { title, url, date, imageUrl, imageAlt, description } = Astro.props;
const limitDescriptionLength = false;
const descriptionLength = 50;
const truncDesription = (desc) => {
  if (limitDescriptionLength) {
    return desc.length < descriptionLength ? desc : desc.substring(0, 50) + "...";
  } else {
    return desc;
  }
};
---

<div class="container sm:bg-slate-900 sm:rounded-lg drop-shadow-2xl sm:border border-teal-800 hover:border-teal-700 transition-all duration-300">
  <div class="pt-6 sm:pt-3 pb-5 px-3">
    <h2 class="text-2xl sm:text-xl font-semibold mb-1"><a href={`/posts/${url}`}>{title}</a></h2>
    <p class="text-slate-500 mb-4">{date}</p>
    <p class="opacity-80">{truncDesription(description)}</p>
  </div>
</div>
