---
const {title} = Astro.props;
---

<hr class="mb-6 opacity-30 hidden sm:block" />
<h2 class="font-mono font-semibold text-4xl text-left mb-10 mt-5 sm:my-0"><span class="text-teal-300">$</span> {title}</h2>
<hr class="mb-10 sm:mb-20 mt-6 opacity-30 hidden sm:block" />