---
const {title} = Astro.props;
---

<hr class="mb-6 opacity-30 hidden sm:block" />
<h2 class="text-4xl text-center mb-10 mt-5 sm:my-0">{title}</h2>
<hr class="mb-10 sm:mb-20 mt-6 opacity-30 hidden sm:block" />