---
const { tool } = Astro.props;
const borderColorMap = {
  rust: 'border-orange-500',
  css: 'border-blue-500',
  cpp: 'border-indigo-500',
  javascript: 'border-yellow-500',
  python: 'border-blue-700',
  html: 'border-red-500',
  azure: 'border-sky-600',
};

const textColorMap = {
  rust: 'text-orange-500',
  css: 'text-blue-500',
  cpp: 'text-indigo-500',
  javascript: 'text-yellow-500',
  python: 'text-blue-700',
  html: 'text-red-500',
  azure: 'text-sky-600',
};

const classlist = `px-2 text-sm border rounded-full max-w-min whitespace-nowrap ${borderColorMap[tool] || 'border-slate-500'} ${textColorMap[tool] || 'text-slate-500'}`;
---
<div class={classlist}>
    <span>{tool}</span>
</div>
