---
const { title, description, url, emoji } = Astro.props;
---

<div id="project-card" class="mb-4 p-4 bg-slate-900 rounded-lg flex flex-col break-inside-avoid">
  <div id="project-title">
    <h2 class="text-xl text-teal-400 font-semibold">
      <i class="fa-regular fa-folder-open fa-xs pr-1 -mb-[1px]">&nbsp;</i>
      <a href={url} target="_blank" rel="noopener noreferrer">{title}</a>
    </h2>
  </div>
  <div id="project-description" class="text-slate-400">
    <p>{description}</p>
  </div>
</div>
