---
import Header from "../layouts/header.astro";
import Footer from "../layouts/footer.astro";
import "../styles/base.css";
import "../styles/links.css";
import "@fontsource/space-mono";
import "@fontsource-variable/inter";
import "@fontsource-variable/syne";

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{`Shounak Das ▸ ${title}`}</title>
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="Shounak Das" href={new URL("rss.xml", Astro.site)} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="google-site-verification" content="bi8yjK7d95OocJBju4URgHNWzFgTNScbx3a0V10t-3g" />
    <script src="https://kit.fontawesome.com/0a41cee954.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </head>
  <body class="max-w-4xl h-screen flex flex-col mx-auto bg-slate-950 text-slate-300 px-3 sm:px-7 md:px-10">
    <Header />
      <slot />
      <Footer />
  </body>
</html>
