---
import Navigation from "../components/navigation.astro";
---

<header class="flex flex-row justify-between items-center mt-4 mb-10">
  <h1 id="site-name" class="font-bold text-3xl"><a href="/">Shounak Das</a></h1>
  <Navigation />
</header>
