---
import Navigation from "../components/navigation.astro";
---

<header class="flex justify-between items-center sm:mt-4 mb-10 relative -mx-3 sm:mx-0 px-3 sm:px-0">
  <h1 id="site-name" class="font-bold text-3xl bg-slate-950 z-20 py-4 sm:py-0">
    <a href="/" class="flex items-center w-fit">
      <div class="mr-2">
        <img src="/logo.png" alt="Shounak's cool logo" class="w-7 p-[0.15rem] bg-teal-300 rounded">
      </div>
       Shounak Das</a>
  </h1>
  <Navigation />
</header>
