---
import Navigation from "../components/navigation.astro";
---

<header>
  <div class="flex flex-row justify-between items-center">
    <h1 class="font-bold text-3xl">Shounak Das</h1>
    <Navigation />
  </div>
</header>
